.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
    background-color: #f3f5f8;
    border-radius: 6px;
    flex: 1;
    padding: 10px;
}

.eventWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}
