#root {
    background-color: white;
    box-sizing: border-box;
    display: block;
    width: 100vw;
    height: 100vh;
    color: black;
    padding-block: 60px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', system-ui;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.4;
}

h4 {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
}

p {
    font-size: 10px;
    line-height: 1.4;
}

.container {
    max-width: 1313px;
    margin: 0 auto;
    height: 100%;
}
